# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
.docins/

# Build artifacts
build/
dist/
*.egg-info/

# MacOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/

# Local environment variables
.env

# Logs
*.log
.idea/
outputs/